* {
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: #1e2835;
  margin: 0;
  color: #404853;
  position: relative;
}

.App-header {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.bottomNav {
  width: 100%;
  background-color: #eeeeee;
  height: 15vh;
  display: flex;
  position: relative;
  top: 85vh;
  left: 0px;
  z-index: 5;
}

.NavJoin {
  border-radius: 5px;
  width: 150px;
  height: 50px;
  background-color: royalblue;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.Join {
  position: absolute;
  bottom: 65px;
  right: 85px;
  color: white;
}

.NavJoin:hover, .Join:hover {
  cursor: pointer;
}